body,
html {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}
.box {
  vertical-align: middle;

  display: justify;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}
